.site-header {
	color: white;
	background-color: var(--slate);
	position: sticky;
	top: 0;
	z-index: 1000;
	padding: 1rem 0;

	a {
		color: var(--link-color);
	}
}

.header-contents {
	text-align: center;
	margin-bottom: 1rem;
}


.site-title {
	width: 100%;
	max-width: 400px;
	height: auto;
	margin: 0 auto 0 auto;

	@media (max-width: 1025px){
		max-width: var(--header-width);
		margin-bottom: 1rem;
	}
}