.site-header {
	color: white;
	background-color: $slate;
	position: sticky;
	top: 0;
	z-index: 1000;
	padding: 1rem 0;

	a {
		color: lighten($link-color,25%);
	}
}

.header-contents {
	text-align: center;
	margin-bottom: 1rem;
}


.site-title {
	width: 100%;
	max-width: 400px;
	height: auto;
	margin: 0 auto 0 auto;

	@media (max-width: $mq-small){
		max-width: $header-width;
		margin-bottom: 1rem;
	}
}