#page {
	@media (min-width: $mq-small){
		display: grid;
		grid-gap: 0;
		grid-template-columns: 100%;
		grid-template-rows: 120px 1fr;

		height: 100vh;
		overflow: hidden;

		justify-items: stretch;
		align-items: stretch;
	}
}


.grid-area {
	position: relative;

	@media (min-width: $mq-small){
		display: grid;
		grid-template-columns: minmax(15%, 300px) 1fr;
		grid-template-rows: calc(100vh - 120px);
		justify-items: stretch;
		align-items: stretch;

		// background-image: url('./assets/images/car-bg.jpg');
		// background-size: auto 480px;
		// background-position: right bottom;
		// background-repeat: no-repeat;
		// background-attachment: fixed;
	}
}